#footer .social-links a:hover,
#header .social-links a:hover,
.about .content ul i,
.back-to-top:hover i,
.contact .info-box i.fas,
.down-content h4:hover,
.hero-box .btn-scroll:hover,
.hero-box span,
.mobile-nav-toggle,
.navbar .active,
.navbar .active i,
.navbar .active:focus,
.navbar a:hover,
.navbar li:hover > a,
.navbar-mobile .active,
.navbar-mobile a:hover,
.navbar-mobile li:hover > a,
.portfolio .portfolio-item .portfolio-info .details-link:hover,
.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.pricing h4,
.pricing ul i,
.resume .resume-item h4,
.section-title h2,
.services .icon i,
.services .icon-box:hover .title a,
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right,
a {
  color: #ff651c;
}
.about .skills-content .progress-bar,
.cursor-inner,
.cursor-inner.cursor-hover,
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active,
.testimonials .swiper-pagination .swiper-pagination-bullet-active,
ul.page-numbers li.active a {
  background-color: #ff651c;
}
#footer .social-links a,
#header .social-links a,
.back-to-top,
.background,
.contact .social-links a:hover,
.email-form button[type="submit"],
.portfolio #portfolio-flters li,
.pricing .advanced,
.pricing .btn-buy,
.style-switch-wrapper .purchse-btn,
.switch {
  background: #ff651c;
}
#header .profile h1,
.cursor-outer,
.email-form button[type="submit"],
.portfolio #portfolio-flters li,
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet,
.portfolio-details .portfolio-info h3,
.pricing .btn-buy,
.pricing .btn-buy:hover,
.services .icon-box:hover,
.style-switch-wrapper .purchse-btn,
ul.page-numbers li a,
ul.page-numbers li.active a {
  border-color: #ff651c;
}
