
 .fa,
 .fab,
 .fas {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     display: inline-block;
     font-style: normal;
     font-variant: normal;
     text-rendering: auto;
     line-height: 1
 }
 
 .fa-arrow-right:before {
    content: "\f061"
}
.fa-award:before {
    content: "\f559"
}
.fa-briefcase:before {
    content: "\f0b1"
}

.fa-clock:before {
    content: "\f017"
}


.fa-arrow-up:before {
    content: "\f062"
}
 .fa-angle-down:before {
     content: "\f107"
 }
 

 
 .fa-globe:before {
    content: "\f0ac"
}
.fa-folder-open:before {
    content: "\f07c"
}.fa-heart:before {
    content: "\f004"
}.fa-house-user:before {
    content: "\e065"
}
.fa-instagram:before {
    content: "\f16d"
}.fa-laptop-code:before {
    content: "\f5fc"
}
 .fa-facebook:before {
     content: "\f09a"
 }
 
 .fa-facebook-f:before {
     content: "\f39e"
 }
 

 
 .fa-paperclip:before {
     content: "\f0c6"
 }
 .fa-envelope:before{content:"\f0e0"}
 
 
 .fa-phone-alt:before {
     content: "\f879"
 }
 .fa-times:before{content:"\f00d"}
 .fa-bars:before{content:"\f0c9"}
 .fa-plus:before {
     content: "\f067"
 }
 
 .fa-poll:before {
     content: "\f681"
 }
 

 .fa-quote-left:before {
     content: "\f10d"
 }
 
 .fa-quote-right:before {
     content: "\f10e"
 }
 

 
 .fa-share-alt:before {
     content: "\f1e0"
 }
 

 
 .fa-smile:before {
     content: "\f118"
 }
 

 .fa-user-alt:before {
     content: "\f406"
 }
 

 
 .fa-users:before {
     content: "\f0c0"
 }
 .fa-whatsapp:before {
     content: "\f232"
 }
 
 .fa-window-restore:before {
     content: "\f2d2"
 }
 

 

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

@font-face {
	font-family: 'Font Awesome 5 Brands';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("../webfonts/fa-brands-400.eot");
	src: url("../webfonts/fa-brands-400d41d.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg")
}

.fab {
	font-family: 'Font Awesome 5 Brands';
	font-weight: 400
}

@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("../webfonts/fa-regular-400.eot");
	src: url("../webfonts/fa-regular-400d41d.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg")
}

.far {
	font-family: 'Font Awesome 5 Free';
	font-weight: 400
}

@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url("../webfonts/fa-solid-900.eot");
	src: url("../webfonts/fa-solid-900d41d.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg")
}

.fa,
.fas {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900
}